<div class="first-block">
<body style="background-color:#eeeeee; margin: auto; text-align: center;">
<!-- Start cssSlider.com -->
  <div class='csslider1 autoplay '>
    <input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide' >
    <input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide' >
    <input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide' >
    <input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked>
    <input name="cs_anchor1" id='cs_pause1' type="radio" class='cs_anchor' >
    <ul>
      <div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0;">
        <img src="http://cssslider.com/sliders/pen/images/buns.jpg" style="width: 100%;">
      </div>
      <li class='num0 img'>
         <a href="http://cssslider.com" target=""><img src='/assets/hobby_images1.jpg' alt='INDOOR' title='INDOOR' /> </a> 
      </li>
      <li class='num1 img'>
         <a href="http://cssslider.com" target=""><img src='/assets/hobby_images4.jpg' alt='OUTDOOR' title='OUTDOOR' /> </a> 
      </li>
      <li class='num2 img'>
         <a href="http://cssslider.com" target=""><img src='/assets/hobby_images3.jpg' alt='SPORTS' title='SPORTS' /> </a> 
      </li>
    
    </ul>
    <div class='cs_description'>
      <label class='num0'>
        <span class="cs_title"><span class="cs_wrapper">INDOOR</span></span>
      </label>
      <label class='num1'>
        <span class="cs_title"><span class="cs_wrapper">OUTDOOR</span></span>
      </label>
      <label class='num2'>
        <span class="cs_title"><span class="cs_wrapper">SPORTS</span></span>
      </label>
    </div>
    <div class='cs_arrowprev'>
      <label class='num0' for='cs_slide1_0'></label>
      <label class='num1' for='cs_slide1_1'></label>
      <label class='num2' for='cs_slide1_2'></label>
    </div>
    <div class='cs_arrownext'>
      <label class='num0' for='cs_slide1_0'></label>
      <label class='num1' for='cs_slide1_1'></label>
      <label class='num2' for='cs_slide1_2'></label>
    </div>
    
    <div class='cs_bullets'>
      <label class='num0' for='cs_slide1_0'>
        <span class='cs_point'></span>
        <span class='cs_thumb'><img src='http://cssslider.com/sliders/pen/tooltips/buns.jpg' alt='INDOOR' title='INDOOR' /></span>
      </label>
      <label class='num1' for='cs_slide1_1'>
        <span class='cs_point'></span>
        <span class='cs_thumb'><img src='http://cssslider.com/sliders/pen/tooltips/croissant.jpg' alt='OUTDOOR' title='OUTDOOR' /></span>
      </label>
      <label class='num2' for='cs_slide1_2'>
        <span class='cs_point'></span>
        <span class='cs_thumb'><img src='http://cssslider.com/sliders/pen/tooltips/SPORTSie.jpg' alt='SPORTS' title='SPORTS' /></span>
      </label>
    </div>
    </div>
    <!-- End cssSlider.com -->
  
  <br /><br />
  </body>
<%= link_to "商品一覧", ryuyas_path %>
</div>
<div class="second-block">
</div>
<div class="third-block">
<!--   Third block Start   -->
  <section id="third-block">
    <p class="events-title">
      Recent Events
    </p>
    <div class="event-container">
      <div class="event">
        <image src="assets/hobby_images1.jpg"" class="event-image">
        <p class="event-name">
          <span>INDOOR</span>
        </p>
      </div>
      <div class="event">
        <p class="event-name">
          <span>OUTDOOR</span> 
        </p>
        <image src="assets/hobby_images2.jpg" class="event-image">
      </div>
      <div class="event">
        <image src="assets/hobby_images3.jpg" class="event-image">
        <p class="event-name">
          <span>SPORTS</span> 
        </p>
       </div>
    </div>
  </section>
  <!--   Third block End   -->

</div>
